<%= form.error_messages %>
  
<p>
  <%= form.label :contributor_name, 'Your name', :class => 'required' %><br />
  <%= form.text_field :contributor_name %>
</p>
<p>
  <%= form.label :email %> <br />
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label :lighthouse_id, 'Lighthouse Ticket Number' %><br />
  <%= form.text_field :lighthouse_id %>
</p>
<p>
  <%= form.label :details, 'Details', :class => 'required' %><br />
  <%= form.text_area :details %>
</p>
<% if logged_in? %>
  <p>
    <%= form.label :fixed, 'Fixed?' %>
    <%= form.check_box :fixed %>
  </p>
<% end %>
<p>
  <%= form.submit 'Send', :name => nil %>
</p>
