<h1>Sponsors</h1>

<p>
  Thanks to our awesome sponsors for offering up prizes and physical meetups for this 
  bugmash! 
</p>

<h2>Prize Givers</h2>

<ul>
  <li><strong><%= link_to "Heroku", "http://www.heroku.com" %></strong> - 2 $30 credits</li>
  <li>
    <strong><%= link_to "Mad Mimi", "http://www.madmimi.com"%></strong> - 
    3 $36 accounts, 1 $75, 1 $189
  </li>
  <li>Bob Martens - $25 Amazon Gift Certificate</li>
  <li>
    <strong><%= link_to "Less Everything", "http://lesseverything.com/" %></strong> - 
    1 year subscription to 
    <%= link_to "LessAccounting.com", "http://www.lessaccounting.com" %>, 
    <%= link_to "LessTimeSpent.com", "http://www.lesstimespent.com" %>,
    or <%= link_to "LessProjects.com", "http://www.lessprojects.com" %>
  </li>
  <li>
    <strong><%= link_to "BDDCasts", "http://bddcasts.com/" %></strong> - 
    1 15-credit pack and 3 5-credit packs
  </li>
</ul>

<h2>Meetup Sponsors</h2>

<ul>
  <li><strong><%= link_to "Relevance", "http://thinkrelevance.com/blog/2010/05/10/rails-3-bugmash.html" %></strong></li>
  <li><strong><%= link_to "Singlebrook Technology, Inc", "http://www.singlebrook.com/node/144" %></strong></li>
  <li><strong><%= link_to "Cubox", "http://cuboxsa.com/rails/supporting-this-weekends-rails-bugmash/" %></strong></li>
<ul>
