<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>May 2010 BugMash</title>
    <!--[if IE]>
        <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen">
    <![endif]-->
    <%= stylesheet_link_tag 'screen', 'application' %>

    <script type="text/javascript" src="http://use.typekit.com/mpy5xpb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="header">
      <h1><a href="/" title="Back to home">BugMash</a></h1>
      <a id="logo" href="http://railsbridge.org/" target="_blank"><span>RailsBridge</span></a>
    </div>
    

    <ul id="navigation">
      <%= tab 'Home', root_path %>
      <%= tab 'Issues', new_issue_path %>
      <% if logged_in? %>
        <%= tab 'Issues', issues_path %>
        <%= tab 'Events', events_path %>
        <%= tab 'Leave', signout_path, :method => :delete %>
      <% end %>
    </ul>

    <div class="container" class="<%= controller_name.downcase %>">
      <div class="span-16">
        <% if flash.any? %>
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, :class => "flash flash_#{key}" %>
          <% end %>
        <% end %>

        <%= yield %>
      </div>

      <div class="span-7 last" id="sidebar">
        <%= yield :sidebar %>

        <h3>Links</h3>
        <ul id="links">
          <li>
            <a href="http://wiki.railsbridge.org/projects/railsbridge/wiki/BugMashFlowchart" title="BugMash instructions">
              Instructions
            </a>
          </li>
          <li>
            <a href="http://wiki.railsbridge.org/projects/railsbridge/wiki/BugMash" title="BugMash Wiki">Wiki</a>
          </li>
        </ul>
      </div>
    </div>

    <p id="footer">
      &copy; 2009 <a href="http://railsbridge.org">RailsBridge, Inc</a>. All Rights Reserved. | <a href="http://rubyonrails.org">Ruby on Rails</a> is a trademark of David Heinemeier Hansson
    </p>
  </body>
</html>
